.cm-s-faded { color: gray; }
.cm-s-faded .cm-keyword {opacity: 0.66;}
.cm-s-faded .cm-atom {opacity: 0.66;}
.cm-s-faded .cm-number {opacity: 0.66;}
.cm-s-faded .cm-def {opacity: 0.66;}
.cm-s-faded .cm-variable,
.cm-s-faded .cm-punctuation,
.cm-s-faded .cm-property,
.cm-s-faded .cm-operator {opacity: 0.66;}
.cm-s-faded .cm-variable-2 {opacity: 0.66;}
.cm-s-faded .cm-variable-3 {opacity: 0.66;}
.cm-s-faded .cm-comment {opacity: 0.66;}
.cm-s-faded .cm-string {opacity: 0.66;}
.cm-s-faded .cm-string-2 {opacity: 0.66;}
.cm-s-faded .cm-meta {opacity: 0.66;}
.cm-s-faded .cm-qualifier {opacity: 0.66;}
.cm-s-faded .cm-builtin {opacity: 0.66;}
.cm-s-faded .cm-bracket {opacity: 0.66;}
.cm-s-faded .cm-tag {opacity: 0.66;}
.cm-s-faded .cm-attribute {opacity: 0.66;}
.cm-s-faded .cm-header {opacity: 0.66;}
.cm-s-faded .cm-quote {opacity: 0.66;}
.cm-s-faded .cm-hr {opacity: 0.66;}
.cm-s-faded .cm-link {opacity: 0.66;}
